<div class="tooltip js-tooltip" data-eventId="{{ event.id }}" data-roomId="{{ room.id }}">
    <div class="tooltip__triangle js-tooltip-triangle"></div>
    <div class="tooltip__title">{{ event.title }}</div>
    <div class="tooltip__description">
        <span>{{ event.dateStart|date_modify('-3 hour')|date("d M") }},</span>
        <span>{{ event.dateStart|date_modify('-3 hour')|date('H:i') }}&#8212;{{ event.dateEnd|date_modify('-3 hour')|date('H:i') }}</span>
        <span> &#183; </span>
        <span>{{ room.title }}</span>
    </div>
    {% if event.Users and event.Users|length > 0 %}
        <div class="tooltip__members">

            <div class="tooltip__members__item">
                <img src="{{ event.Users[0].avatarUrl }}" class="tooltip__members__image">
                <span class="tooltip__members__name">{{ event.Users[0].login }}</span>
            </div>
            {% if event.Users|length > 1 %}
                <span class="tooltip__members__also">
                    и <span>{{ event.Users|length - 1 }}</span> участник{% if event.Users|length > 4 %}ов{% elseif event.Users|length > 2 %}а{% endif %}
                </span>
            {% endif %}
        </div>
    {% endif %}
    <a href="#" class="tooltip__edit js-edit-event-btn" data-from="edit"></a>
</div>