{% set members = [
    {
        id: 0,
        name: 'Лекс Лютер',
        image: 'http://prosportphysiotherapy.co.uk/wp-content/uploads/2014/09/Male-Face-F5.png',
        floor: 3
    },
    {
        id: 1,
        name: 'Дарт Вейдер',
        image: 'http://prosportphysiotherapy.co.uk/wp-content/uploads/2014/09/Male-Face-F5.png',
        floor: 7
    },
    {
        id: 2,
        name: 'Йода',
        image: 'http://prosportphysiotherapy.co.uk/wp-content/uploads/2014/09/Male-Face-F5.png',
        floor: 1
    },
    {
        id: 3,
        name: 'Люк Скайуокер',
        image: 'http://prosportphysiotherapy.co.uk/wp-content/uploads/2014/09/Male-Face-F5.png',
        floor: 6
    },
    {
        id: 4,
        name: 'Кайло Рен',
        image: 'http://prosportphysiotherapy.co.uk/wp-content/uploads/2014/09/Male-Face-F5.png',
        floor: 3
    },
    {
        id: 5,
        name: 'Оби-Ван Кеноби',
        image: 'http://prosportphysiotherapy.co.uk/wp-content/uploads/2014/09/Male-Face-F5.png',
        floor: 7
    },
    {
        id: 6,
        name: 'Лея Органа',
        image: 'http://prosportphysiotherapy.co.uk/wp-content/uploads/2014/09/Male-Face-F5.png',
        floor: 1
    },
    {
        id: 7,
        name: 'Хан Соло',
        image: 'http://prosportphysiotherapy.co.uk/wp-content/uploads/2014/09/Male-Face-F5.png',
        floor: 6
    }
] %}

<div class="newevent">
    <div class="newevent__title">Новая встреча</div>
    <div class="newevent__main">
        <div class="newevent__col">
            <div class="newevent__field-block">
                <div class="newevent__label">Тема</div>
                <input type="text" name="newevent_topic" class="newevent__input" placeholder="О чем будете говорить?">
            </div>
            <div class="newevent__field-block">
                <div class="newevent__label">Участники</div>
                <input type="text" name="newevent_memmbers" class="newevent__input newevent__input_dropdown js-dropdown-input" placeholder="Участники">
                <select class="hidden js-newevent-select" multiple="true">
                    {% for item in members %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
                <div id="js-dropdown-container" class="newevent__dropdown">
                    {% for item in members %}
                        <div class="newevent__dropdown__item js-dropdown-item" data-id="{{ item.id }}">
                            <img src="{{ item.image }}" class="newevent__dropdown__image">
                            <span class="newevent__dropdown__member">{{ item.name }} ·</span>
                            <span class="newevent__dropdown__floor"> {{ item.floor }} этаж</span>
                        </div>
                    {% endfor %}
                </div>
                <div class="newevent__members js-members-container">
                    {% for item in members %}
                        <span class="newevent__members__item hidden js-members-item" data-id="{{ item.id }}">
                            <img src="http://prosportphysiotherapy.co.uk/wp-content/uploads/2014/09/Male-Face-F5.png" class="newevent__members__image">
                            <span class="newevent__members__name">{{ item.name }}</span>
                            <span class="newevent__members__remove js-remove-member"></span>
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="newevent__col">
            <div class="newevent__fields-wrapper">
                <div class="newevent__field-block newevent__field-block_date">
                    <div class="newevent__label">Дата</div>
                    <input type="text" name="newevent_date" class="newevent__input" id="datepicker" value="{{ "now"|date("d M\, Y") }}">
                    <span class="newevent__calendar"></span>
                </div>
                <div class="newevent__field-block newevent__field-block_start">
                    <div class="newevent__label">Начало</div>
                    <input type="text" name="newevent_start" class="newevent__input" value="{{ "now"|date("H:i") }}">
                </div>
                <span class="newevent__tire">&#8212;</span>
                <div class="newevent__field-block newevent__field-block_end">
                    <div class="newevent__label">Конец</div>
                    <input type="text" name="newevent_end" class="newevent__input" value="{{ "now"|date_modify("+2 hour")|date("H:i") }}">
                </div>
            </div>
            <div class="newevent__field-block">
                <div class="newevent__label">Рекомендованные переговорки</div>
                {% for i in 1..3 %}
                    <div class="newevent__room-item">
                        <span class="newevent__room-item__time">16:00&#8212;16:30</span>
                        <span class="newevent__room-item__name">Готем</span>
                        &#183;
                        <span class="newevent__room-item__floor">4 этаж</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <a href="/" class="newevent__close"></a>
</div>
<div class="popup">
    <div class="popoup_create-event">
        <div class="popup__img"></div>
        <div class="popup__title">Встреча создана!</div>
        <div class="popup__text">
            <span>14 декабря</span>
            ,
            <span>15:00-17:00</span>
        </div>
        <div class="popup__text">
            <span>Готем</span>
            &#183;
            <span>4 этаж</span>
        </div>
        <div class="button button_blue">Хорошо</div>
    </div>
</div>
