<div class="field-block field-block_left field-block_members" data-capacity-min="{{ room.capacityMin }}" data-capacity-max="{{ room.capacityMax }}">
    <div class="field-block__label">Участники</div>
    <input type="text" name="newevent_members" class="field-block__input field-block__input_dropdown js-dropdown-input" placeholder="Участники">
    <select class="hidden js-newevent-select" multiple="true">
        {% for item in members %}
            <option value="{{ item.id }}" {% if item.allready %}selected="selected"{% endif %} class="js-newevent-select-option">{{ item.name }}</option>
        {% endfor %}
    </select>
    <div id="js-dropdown-container" class="field-block__dropdown">
        {% for item in members %}
            <div class="field-block__dropdown__item js-dropdown-item {% if item.allready %}hidden{% endif %}"  data-id="{{ item.id }}">
                <img src="{{ item.avatarUrl }}" class="field-block__dropdown__image">
                <span class="field-block__dropdown__member">{{ item.login }} ·</span>
                <span class="field-block_dropdown__floor"> {{ item.homeFloor }} этаж</span>
            </div>
        {% endfor %}
    </div>
    <div class="field-block__members js-members-container">
        {% for item in members %}
            <span class="field-block__members__item {% if not item.allready %}hidden{% endif %} js-members-item" data-id="{{ item.id }}">
                <img src="{{ item.avatarUrl }}" class="field-block__members__image">
                <span class="field-block__members__name">{{ item.login }}</span>
                <span class="field-block__members__remove js-remove-member"></span>
            </span>
        {% endfor %}
    </div>
</div>